<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body style="
  padding: 5%;">
		<div class="container-fluid h-100" >
			<div class="row justify-content-center h-100">
				<div class="col-md-12 col-xl-10 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="user_info">
									<span>Chat Room</span>
									<p>Admin - SpecKart</p>
								</div>
							</div>
							<span id="action_menu_btn"><button (click)="logOut()" class="attach_btn" style="margin: 5px;">Leave Room</button></span>
            </div>

						<div class="card-body msg_card_body">
							<div class="d-flex justify-content-start mb-4">

								<div class="msg_cotainer">
									Hi, how are you samim?
									<span class="msg_time">Admin</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Hi Khalid i am good tnx how about you?
									<span class="msg_time_send">Dennis</span>
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">

								<div class="msg_cotainer">
									I am good too, thank you for your chat template
									<span class="msg_time">Admin</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									You are welcome
									<span class="msg_time_send">Dennis</span>
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">
								<div class="msg_cotainer">
									I am looking for your next templates
									<span class="msg_time">Admin</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Ok, thank you have a good day
									<span class="msg_time_send">Dennis</span>
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">
								<div class="msg_cotainer">
									Bye, see you
									<span class="msg_time">Admin</span>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="input-group">
								<textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
            </div>

					</div>
				</div>
			</div>
    </div>
    <script>	$(document).ready(function(){
      $('#action_menu_btn').click(function(){
        $('.action_menu').toggle();
      });
        });</script>
	</body>
</html>
