<div class="modal fade product_view" id="order_view">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" data-dismiss="modal" class="class pull-right"><span
              class="fa fa-remove"></span></a>
          <h4 class="modal-title">
            <dt>Order Details</dt>
          </h4>
        </div>
        <div class="modal-body">
          <div class="site-section">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="product-thumbnail">No</th>
                          <th class="product-name">Product</th>
                          <th class="product-price">Price</th>
                          <th class="product-quantity">Quantity</th>
                          <th class="product-total">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <tr *ngFor="let item of currentOrder.orderDetails; let i = index" class="product-thumbnail">
                            <td>{{i+1}}</td>
                            <td class="product-name">
                              <h2 class="h5 text-black">{{item.itemName}}</h2>
                             </td>
                            <td>{{item.itemPrice}} SPC</td>
                            <td>{{item.itemCount}} SPC</td>
                            <td>{{item.itemTotal}} SPC</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <button class="btn btn-primary btn-sm btn-block" (click)="cancelOrder(currentOrder.orderId)">Cancel Order</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-5">
                  <div class="row justify-content-end">
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                          <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <div class="col-md-6">
                          <span class="text-black">Total</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">{{items.cartTotal}} SPEC</strong>
                        </div>
                      </div>
                      <div class="row mb-5" *ngIf="status != 0">
                        <div class="col-md-6">
                          <span class="text-black">Order Status</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black">{{currentOrder.status}}</strong>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
