/* You can add global styles to this file, and also import other style files */
// @import url('../src/assets//styles/roboto-font.css');
.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
