<div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a [routerLink]="['/market']" class="js-logo-clone">SPECKART</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li [routerLink]="['/market']">
                  <a>Home</a>
                </li>

                <li [routerLink]="['/market/shop']"><a>Shop</a></li>
                <li [routerLink]="['/market/exchange']"><a>Token Market</a></li>
                <li class="has-children ">
                  <a>Chat Room <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li [routerLink]="['/chatroom']" [queryParams]="{ room:'userChatRoom',who:'user'}"><a>With
                        Users</a>
                    </li>
                    <li [routerLink]="['/chatroom']" [queryParams]="{room:'adminChatRoom',who:'user'}"><a>With
                        Admin</a>
                    </li>
                  </ul>
                </li>
                <li [routerLink]="['/market/summary']"><a>My Orders</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a [routerLink]="['/market/userDetails']" class="icons-btn d-inline-block"><span
                class="fa fa-user"></span></a>
            <a [routerLink]="['/market/cart']" class="icons-btn d-inline-block bag">
              <span><i class="fa fa-shopping-cart active" style="color: red;"></i></span>
            </a>
            <a (click)="logOut()" href="#" class="icons-btn d-inline-block"><span class="fa fa-lock"></span></a>
            <a class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a [routerLink]="['/market']">Home</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section" *ngIf="done!=1">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <tr *ngFor="let item of items.productData; let i = index" class="product-thumbnail">
                    <td>
                      <img src="{{imgurl + item.imageData[0].path}}" alt="1" class="img-fluid">
                      <!-- <img src="../../../assets/userStyles/images/cloth_1.jpg" alt="Image" class="img-fluid"> -->
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{item.itemName}}</h2>
                    </td>
                    <td>{{item.itemPrice}} SPC</td>
                    <td>
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary js-btn-minus" (click)="subCount(i)"
                            type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" name="name" value="{{item.itemCount}}"
                          disabled>
                        <!-- <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"> -->
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary js-btn-plus" (click)="addCount(i)"
                            type="button">&#43;</button>
                        </div>
                      </div>
                    </td>
                    <td>{{item.itemTotal}} SPC</td>
                    <td><a (click)="remove(i, item.itemCount)" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-primary btn-sm btn-block" (click)="continue()">Continue Shopping</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{items.cartTotal}} SPEC</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg btn-block" (click)="payment()">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section" *ngIf="done==1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">You order was successfuly completed.</p>
            <p><a [routerLink]="['/market']" class="btn btn-sm height-auto px-4 py-3 btn-primary">Back to shop</a></p>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a class="block-6">
              <img src="../../../assets/userStyles/images/about_1.jpg" alt="Image placeholder"
                class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades This Summer</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/market/shop']">Shop Now</a></li>
                  <li><a [routerLink]="['/market/cart']">Shopping cart</a></li>
                  <li><a [routerLink]="['/market/summary']">My Orders</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/market/exchange']">Token Market</a></li>
                  <li><a [routerLink]="['/chatroom']" [queryParams]="{ room:'userChatRoom',who:'user'}">Chat Room</a>
                  </li>
                  <li><a [routerLink]="['/market/userDetails']">My Account</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write( new Date().getFullYear() );</script> All rights reserved to SpecKart
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>
