<div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a [routerLink]="['/']" class="js-logo-clone">SPECKART</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li  [routerLink]="['/']">
                  <a>Home</a>
                </li>
                <li [routerLink]="['/register']"><a>Register</a></li>
                <li [routerLink]="['/exchange']" class="active"><a>Token Market</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="site-blocks-cover inner-page" style="background-image: url('../../../assets/userStyles/images/token.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 300px;">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>

    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Token Market</strong></div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row ml-auto">
          <div class="col-md-6 p-4 border mb-3" align="center">
            <span class="d-block text-primary h4 text-uppercase">Token Details</span><div class="col text-center">
              <br><h6>
                <p class="text">Token Name :
                    {{specToken.tokenName}}</p>
            </h6>
            <h6>
                  <p class="text">Token Price :
                      {{specToken.specTokenPrice}} ETH</p>
              </h6>
              <h6>
                  <p class="text" >Total Supply :
                      {{specToken.tokenTotalSupply}} {{specToken.tokenSymbol}}</p>
              </h6>

              <h6>
                  <p class="text">Ether Weight : {{specToken.etherBal}} ETH
                  </p>
              </h6>
              <h6>
                  <p class="text" >Token Weight : {{specToken.tokenBalance}}
                      {{specToken.tokenSymbol}}
                  </p>
              </h6>
          </div>
          </div>
          <div class="col-md-6 p-4 border mb-3" align="center">
            <span class="d-block text-primary h4 text-uppercase">USER DETAILS</span>
            <br> <br>
            <h6>
              <p class="text">Token Balance : {{userBalance.tokenBal}}
                  {{specToken.tokenSymbol}}</p>
          </h6>

          <h6>
              <p class="text">Ether Balance : {{userBalance.etherBal}}
                  ETH</p>
          </h6>
        </div>
        </div>
        <div class="row ml-auto" align="center">
          <div class="col-md-6 p-4 border mb-3" align="center">
            <span class="d-block text-primary h4 text-uppercase">BUY TOKEN</span>
            <br>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_subject" class="text-black">Token Count </label>
                <input type="number" min="0.01" pattern="^[0-9]" step="1" class="form-control form-control center"
                  style="margin: 20px;width: 250px;" placeholder="Enter the Token Count to Buy" [(ngModel)]="buyCount">
              </div>
            </div>
            <!-- <div class="form-group row"> -->
              <dt class="text" style="font-size: 20px;">{{buyCount*specToken.specTokenPrice}} ETH
              </dt>
            <!-- </div> -->

            <br>
            <div class="form-group row">
              <div class="col-lg-12">
                <button type="button" (click)="buy()" class="btn btn-primary btn-lg btn-block">Buy Tokens <span
                    class="glyph fas fa-coins"></span></button>

              </div>
            </div>
          </div>
          <div class="col-md-6 p-4 border mb-3" align="center">
            <span class="d-block text-primary h4 text-uppercase">SELL TOKEN</span>
            <br>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_subject" class="text-black">Token Count </label>
                <input type="number" min="0.01" pattern="^[0-9]" step="1" class="form-control form-control center"
                        style="margin: 20px;width: 250px;" placeholder="Enter the Token Count to Sell"
                        [(ngModel)]="sellCount">
              </div>
            </div>
            <!-- <div class="form-group row"> -->
                    <dt class="text" style="font-size: 20px;"> {{sellCount*specToken.specTokenPrice}} ETH
              </dt>
            <!-- </div> -->
            <br>

            <div class="form-group row">
              <div class="col-lg-12">
                <button type="button" (click)="sell()" class="btn btn-primary btn-lg btn-block">Sell Tokens <span
                  class="glyph fas fa-coins"></span></button>
       </div>
            </div>
          </div>
      </div>


    </div>
  </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="../../../assets/userStyles/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades This Summer</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Login</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Token Market</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved to SpecKart
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

