<div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a [routerLink]="['/seller']" class="js-logo-clone">SPECKART</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li [routerLink]="['/seller']">
                  <a>Home</a>
                </li>

                <li [routerLink]="['/seller/exchange']"><a>Token Market</a></li>
                <li class="has-children ">
                  <a>Products <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li [routerLink]="['/seller/add-product']"><a>Add Products</a></li>
                    <li [routerLink]="['/seller/view-products']"><a>View Products</a></li>
                  </ul>
                </li>
                <li class="has-children ">
                  <a>Chat Room <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li [routerLink]="['/chatroom']" [queryParams]="{ room:'userChatRoom',who:'seller'}"><a>With
                        Users</a>
                    </li>
                    <li [routerLink]="['/chatroom']" [queryParams]="{room:'adminChatRoom',who:'seller'}"><a>With
                        Admin</a>
                    </li>
                  </ul>
                </li>
                <li [routerLink]="['/seller/view-orders']"><a>My Orders</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a [routerLink]="['/seller/userDetails']" class="icons-btn d-inline-block" style="color: red;"><span
                class="fa fa-user"></span></a>
            <a (click)="logOut()" class="icons-btn d-inline-block"><span class="fa fa-lock"></span></a>
            <a class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a [routerLink]="['/seller']">Home</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">User Details</strong></div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row ml-auto">
          <div class="col-md-12 p-4 border mb-3" align="center">
            <span class="d-block text-primary h4 text-uppercase">USER DETAILS</span>
            <br> <br>
            <h6>
              <p class="text">Token Balance : {{userBalance.tokenBal}}
                SPEC</p>
            </h6>
            <h6>
              <p class="text">Ether Balance : {{userBalance.etherBal}}
                ETH</p>
            </h6>
            <h6>
              <p class="text">Name : {{name}}
              </p>
            </h6>
            <h6>
              <p class="text">Contact : {{contact}}
              </p>
            </h6>
            <h6>
              <p class="text">Gender : {{gender}}
              </p>
            </h6>
            <h6>
              <p class="text">Email : {{email}}
              </p>
            </h6>
            <h6>
              <p class="text">Address : {{address}}
              </p>
            </h6>

          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a class="block-6">
              <img src="../../../assets/userStyles/images/about_1.jpg" alt="Image placeholder"
                class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shades This Summer</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/market/shop']">Shop Now</a></li>
                  <li><a [routerLink]="['/market/cart']">Shopping cart</a></li>
                  <li><a [routerLink]="['/market/summary']">My Orders</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/market/exchange']">Token Market</a></li>
                  <li><a [routerLink]="['/chatroom']" [queryParams]="{ room:'userChatRoom',who:'seller'}">Chat Room</a>
                  </li>
                  <li><a [routerLink]="['/market/userDetails']">My Account</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write( new Date().getFullYear() );</script> All rights reserved to SpecKart
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>
