<div class="container  cardde center" style="margin-top:10px;">
    <div class="card text-center countStyleaqu" style="width: 200px;margin:60px">

        <!-- Heading -->
        <div class="card-body text">
            <h4 class="card-title">Balance</h4>
            <h4 class="card-subtitle">SPEC</h4>
        </div>

        <!-- Image -->
        <img class="image text-center mx-auto" src="../../../assets/spec.jpg" alt="Photo of sunset">

        <!-- Text Content -->
        <div class="card-body text">
            <h4 class="card-text "> {{userBalance.tokenBal}} SPC</h4>
        </div>
    </div>
    <div class="card text-center countStyleaqu" style="width: 200px;margin:60px">

        <!-- Heading -->
        <div class="card-body text">
            <h4 class="card-title">Balance</h4>
            <h4 class="card-subtitle">ETHER</h4>
        </div>

        <!-- Image -->
        <img class="image text-center mx-auto" src="../../../assets/ether.jpg" alt="Photo of sunset">

        <!-- Text Content -->
        <div class="card-body text">
            <h4 class="card-text "> {{userBalance.etherBal}} ETH</h4>
        </div>
    </div>
</div>