.cardde{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
  }
  .image{
    width:150px;
    height:150px;
  }

  .center {
    // margin-left: auto;
    // margin-right: auto;
    width: 50%;
  }
  .text{
    color: white;
    text-align: center;
    font-family: Courier New-bold;
  }
  .countStyleaqu{
    background:  rgb(2, 10, 116);
  }
